/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/*  typography */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700");
@font-face {
  font-family: 'BwNistaInt-xBd';
  src: url("../plugins/fonts/BwNistaInt-xBd.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #4c4c4c;
}

p, .paragraph {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
}

p-lg, .paragraph-lg {
  font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 80px;
}

@media (max-width: 991px) {
  h1, .h1 {
    font-size: 65px;
  }
}

h2, .h2 {
  font-size: 60px;
}

@media (max-width: 991px) {
  h2, .h2 {
    font-size: 50px;
  }
}

h3, .h3 {
  font-size: 40px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 14px;
}

/* Button style */
.btn {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn:active {
  box-shadow: none;
}

.btn-sm {
  font-size: 15px;
  padding: 10px 30px;
}

.btn-xs {
  padding: 5px 10px;
  font-size: 15px;
}

.btn-primary {
  background: #772432;
  color: #fff;
}

.btn-primary:active {
  background: #004165!important;
}

.btn-primary:hover {
  background: #004165;
}

.btn-primary.focus, .btn-primary.active {
  background: #004165 !important;
  box-shadow: none !important;
}

.btn-transparent {
  background: transparent;
  color: #41228e;
  font-weight: bold;
}

.btn-transparent_text {
  background: transparent;
  color: #A9B2B1;
  font-weight: bold;
}

.btn-transparent:active, .btn-transparent:hover {
  color: #41228e;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-moz-selection {
  background: #004165;
  color: #fff;
}

::selection {
  background: #004165;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;
}

a:focus,
button:focus,
select:focus {
  outline: 0;
}

a.text-dark:hover {
  color: #41228e !important;
}

a:hover {
  color: #41228e;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-title {
  margin-bottom: 80px;
  font-family: "BwNistaInt-xBd";
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: #004165 !important;
}

.bg-gray {
  background: #eaeaea !important;
}

.text-primary {
  color: #CD202C !important;
}

.text-color {
  color: #4c4c4c;
}

.text-dark {
  color: #000 !important;
}

.text-light {
  color: #999999 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg {
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: "Playfair Display", serif !important;
}

.font-tertiary {
  font-family: "BwNistaInt-xBd" !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.bg-dark {
  background-color: #F2DF74 !important;
}

/* icon */
.icon {
  font-size: 45px;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */
/* slick slider */
.slick-dots {
  text-align: center;
  padding-left: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 2px;
}

.slick-dots li.slick-active button {
  background: #fff;
  width: 25px;
}

.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .2s ease;
  border: 0;
}

/* /slick slider */
/* form */
.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px;
}

.form-control:focus {
  border-color: #41228e;
  outline: 0;
  box-shadow: none !important;
}

textarea.form-control {
  height: 120px;
}

/* /form */
/* card */
.card {
  border: 10;
}

.card-header {
  border: 0;
}

.card-footer {
  border: 0;
}

/* /card */
.navigation {
  padding: 40px 130px;
  transition: .3s ease;
}

.navigation.nav-bg {
  background-color: #772432;
  padding: 0px 25px;
}

@media (max-width: 991px) {
  .navigation.nav-bg {
    padding: 15px 20px;
  }
}

@media (max-width: 991px) {
  .navigation {
    padding: 20px;
    background: #41228e;
  }
}

.form-control{
  height: 50%;
}

.navbar .nav-item .nav-link{
  font-family: "BwNistaInt-xBd";
  text-transform: uppercase;
  padding: 15px;
}
.nav-link-button{
  background-color: transparent;
  color: white; 
  outline: none; 
  border: none;
}
.navbar .nav-item.active {
  font-weight: bold;
}
.dropdown-menu{
  background-color: #004165;
  border: none;
}


.dropdown-item{
  color: white;
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.hero-area {
  padding: 300px 0 200px;
  position: relative;
}

@media (max-width: 767px) {
  .hero-area {
    padding: 250px 0 150px;
    overflow: hidden;
  }
}

.hero-area h1 {
  position: relative;
  z-index: 2;
}

.layer {
  position: absolute;
  z-index: 1;
}

#l1 {
  bottom: 0;
  left: 0;
}

#l2 {
  top: 190px;
  left: -250px;
}

#l3 {
  top: 200px;
  left: 40%;
}

#l4 {
  top: 200px;
  right: 40%;
}

#l5 {
  top: 100px;
  right: -150px;
}

#l6 {
  bottom: -20px;
  left: 10%;
}

#l7 {
  bottom: 100px;
  left: 20%;
}

#l8 {
  bottom: 160px;
  right: 45%;
}

#l9 {
  bottom: 100px;
  right: -10px;
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* skills */
.progress-wrapper {
  height: 130px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wave::before, .wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 45%;
  -webkit-transform: translateX(-50%) rotate(0);
          transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
  z-index: 10;
}

.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: translateX(-50%) rotate(0);
          transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 10s linear -5s infinite;
          animation: rotate 10s linear -5s infinite;
  z-index: 20;
}

@-webkit-keyframes rotate {
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
            transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes rotate {
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
            transform: translateX(-50%) rotate(360deg);
  }
}

/* /skills */
/* education */
.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1;
}

/* /education */
/* service */
.hover-bg-primary {
  transition: .3s ease;
}

.hover-bg-primary:hover {
  background: #41228e;
}

.hover-bg-primary:hover * {
  color: #fff;
}

.active-bg-primary {
  transition: .3s ease;
  background: #41228e;
}

.active-bg-primary * {
  color: #fff;
}

.hover-shadow {
  transition: .2s ease;
}

.hover-shadow:hover {
  box-shadow: 0px 18px 40px 8px rgba(224, 241, 255, 0.54) !important;
}

/* /service */
/* portfolio */
.hover-wrapper {
  overflow: hidden;
}

.hover-wrapper img {
  transition: .3s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hover-wrapper:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible;
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
}

.hover-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

/* /portfolio */
/* testimonial */
.testimonial-content strong {
  color: #F2DF74;
  font-weight: normal;
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1;
}

.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px;
}

.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px;
}

.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px;
}

.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px;
}

.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px;
}

/* /testimonial */
/* footer */
.footer-section {
  padding-top: 40px;
}

.section-on-footer {
  margin-bottom: -250px;
}

.shadow-down {
  position: relative;
}

.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 80.75px 14.25px rgba(224, 241, 255, 0.34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/* /footer */
.card-lg {
  flex-direction: row-reverse;
  align-items: center;
}

@media (max-width: 991px) {
  .card-lg {
    flex-direction: column;
  }
}

blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: #eaeaea;
  border-left: 2px solid #41228e;
  font-style: italic;
  font-size: 22px;
}

.content * {
  margin-bottom: 20px;
}

.content strong {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: normal;
  color: #000;
  display: inherit;
  line-height: 1.5;
}

.page-title-alt {
  padding: 350px 0 70px;
}

.border-thick {
  border: 10px solid;
}

.drag-lg-top {
  margin-top: -230px;
}

@media (max-width: 991px) {
  .drag-lg-top {
    margin-top: 0;
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1;
}

.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
}

.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 70px;
  top: 100px;
}

.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px;
}

.page-title-alt .bg-shape-6 {
  position: absolute;
  bottom: 100px;
  right: -100px;
}

.page-title {
  padding: 250px 0 150px;
}

.page-title .container {
  position: relative;
  z-index: 1;
}

.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px;
}

.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px;
}

.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px;
}

.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: -50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px;
}

.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px;
}

.filter-controls li {
  cursor: pointer;
}

.filter-controls li.active {
  font-weight: bold;
}

.fa {
  padding: 5px;
  font-size: 10px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 65%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.4;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.team .member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  background: #fff;
}

.team .member img {
  max-width: 60%;
  border-radius: 50%;
  margin: 0 0 30px 0;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  color: #004165;
  transition: 0.3s;
}

.team .member .social a:hover {
  color: #772432;
}

.team .member .social i {
  font-size: 20px;
  margin: 0 2px;
}

/* Flat About
---------------------------------------------------------------*/
.flat-about {
  padding: 96px 0px 94px;
}

.flat-about.style2 {
  padding: 96px 0px 74px;
}

.flat-about.style3 {
    padding: 79px 0px 56px;
}

.flat-row {
  padding: 100px 0;
}

/* Flat Title
---------------------------------------------------------------*/
.flat-title.padding {
  padding: 0 150px;
}

.flat-title {
  text-align: center;
  margin-bottom: 51px;
}

.flat-title h2,
.flat-title h3,
.flat-title h4 {
  font-weight: 300;
  margin-bottom: 20px;
}

.flat-title h1 span {
  font-family: 'Playfair Display';
  font-style: italic;
}

.flat-title p.sub-title {
  font-size: 16px;
  line-height: 30px;
}

/* Flat Title Style1 */
.flat-title.style1 {
  padding: 0 235px;
}

.flat-title.style1 h1 {
  line-height: 100px;
  margin-bottom: 10px;
}

.flat-title.style1 p.sub-title {
  font-size: 14px;
}

/* Flat Title Style1 v1 */
.flat-title.style1.v1 {
  padding: 0 0px;
  text-align: left;
  margin-bottom: 54px;
}

.flat-title.style1.v1 h1 {
  margin-bottom: 14px;
}

.flat-title.style1.v1 p.sub-title {
  line-height: 24px;
}

/* Flat Title Style2 */
.flat-title.style2 h3 {
  font-weight: bold;
  margin-bottom: 0;
  letter-spacing: 1.3px;
}

/* Flat Title Style3 */
.flat-title.style3 h3 {
  font-weight: 600;
  margin-bottom: 49px;
  padding-bottom: 24px;
  position: relative;
  line-height: 45px;
}

.flat-title.style3 h3:before {
  content: '';
  position: absolute;
  height: 4px;
  width: 60px;
  background-color: #f06325;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
}

.flat-title.v2 h3 {
  margin-bottom: 12px;
}

/* Tab About */
.tab-about {
  text-align: center;
}

.tab-about ul.tab-list-about {
  border: 1px solid #ebebeb;
  text-align: center;
  display: inline-block;
  margin-bottom: 33px;
}

.tab-about ul.tab-list-about li {
  display: inline-block;
  font-family: 'Poppins';
  font-weight: 500;
  color: #c2c1ca;
  width: 175px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  border-right: 1px solid #ebebeb;
}

.tab-about ul.tab-list-about li:last-child {
  border-right: none;
}

.tab-about ul.tab-list-about li:hover,
.tab-about ul.tab-list-about li.active {
  color: #1490d7;
}

.tab-about .content-tab {
  text-align: left;
  padding: 0 99px 0 100px;
}

.tab-about .content-tab .content-inner p:not(:last-child) {
  margin-bottom: 12px;
}

/* Flat About Style4
---------------------------------------------------------------*/
.flat-about.style4 {
  padding: 95px 0px 93px;
}

.flat-about.style4 .flat-title h2 {
  margin-bottom: 32px;
}

.flat-about.style4 .flat-title {
  margin-bottom: 50px;
}

/* Tab About Style1 V1 */
.tab-about.style1.v1 ul.tab-list-about {
    margin-bottom: 33px;
}

.tab-about.style1.v1 .content-tab .content-inner {
  padding: 0 110px 0 115px;
}


/*Team Member*/
/* Flat Team
---------------------------------------------------------------*/
.team-member {
  text-align: center;
  margin-bottom: 44px;
}

.team-member .avatar {
  position: relative;
  display: inline-block;
}

.team-member .avatar:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(30, 30, 39, 0.5);
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
}

.team-member:hover .avatar:after {
  opacity: 1;
  visibility: visible;
}

.team-member .avatar img {
  border-radius: 50%;
}

.team-member:hover .avatar img {
  box-shadow: 0px 25px 45px 0px rgba(0, 0, 0, 0.15);
}

.team-member .info {
  margin-top: 24px;
}

.team-member .info .name {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.team-member .info .option {
  color: #c2c1ca;
  line-height: 26px;
}

/* Flat Team Style1
---------------------------------------------------------------*/
.flat-team.style1 {
  padding: 100px 0 92px;
}

.flat-team.style1.v1 {
    padding: 97px 0 92px;
}

.flat-team .container.set-width {
  width: 1600px;
}

.flat-team .container .row {
  display: flex;
  align-items: center;
}

/* Team Member Style1 */
.team-member.style1 {
  position: relative;
  margin-bottom: 0px;
  overflow: hidden;
  width: 18.75%;
}

.team-member.style1.big {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.team-member.style1 .avatar {
  overflow: hidden;
}

.team-member.style1 .avatar img,
.team-member.style1 .avatar:after {
  border-radius: 0px;
}

.team-member.style1 .avatar:after {
  transform: translateY(100%);
}

.team-member.style1:hover .avatar:after {
  transform: translateY(0%);
}

.team-member.style1 .info {
  position: absolute;
  margin-top: 0px;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.team-member.style1:hover .info {
  opacity: 1;
  visibility: visible;
}

.team-member.style1 .info .social {
  float: none;
}

.team-member.style1 .info .social li {
  position: relative;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  top: 20px;
}

.team-member.style1:hover .info .social li {
  opacity: 1;
  visibility: visible;
  top: 0px;
}

.team-member.style1:hover .info .social li:nth-child(2) {
  transition-delay: 0.2s;
}

.team-member.style1:hover .info .social li:nth-child(3) {
  transition-delay: 0.3s;
}

.team-member.style1:hover .info .social li:nth-child(4) {
  transition-delay: 0.4s;
}

.team-member.style1 .info .name,
.team-member.style1 .info .option {
  line-height: 30px;
  position: relative;
  top: -20px;
}

.team-member.style1:hover .info .name,
.team-member.style1:hover .info .option {
  top: 0px;
}

.team-member.style1 .info .name a:not(:hover),
.team-member.style1 .info .option {
  color: #fff;
}

.team-member.style1 .info .option {
  font-style: italic;
}

.team-member.style1 .info .social {
  margin-top: 15px;
}

.team-member.style1 .info .social li:not(:last-child) {
  margin-right: 24px;
}

.team-member.style1 .info .social li a:not(:hover) {
  color: #fff;
}


/*Header Navigation*/
* ## main navigation
 * ------------------------------------------------------------------- */
.header__nav-wrap {
   margin-top: 15px;
   border-top: 1px solid rgba(255, 255, 255, 0.04);
   padding-top: 15px;
}

.header__nav-wrap a {
   color: rgba(255, 255, 255, 0.6);
}

.header__nav-wrap .header__nav-heading {
   text-align: center;
   font-family: "metropolis-semibold", sans-serif;
   font-size: 1.4rem;
   color: #FFFFFF;
   text-transform: uppercase;
   letter-spacing: .3rem;
   margin-top: 6rem;
}

.header__nav-wrap .header__nav-heading,
.header__nav-wrap .close-mobile-menu {
   display: none;
}

.header__nav {
   list-style: none;
   margin: 0;
   padding: 0;
   font-family: "metropolis-medium", sans-serif;
   font-size: 15px;
}

.header__nav li {
   display: inline-block;
   position: relative;
   padding: 0 2rem;
}

.header__nav li.has-children {
   padding-right: 3.3rem;
}

.header__nav li a {
   display: block;
   color: rgba(255, 255, 255, 0.6);
   line-height: 39px;
}

.header__nav li.has-children > a::after {
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   border-right: 1px solid rgba(255, 255, 255, 0.3);
   content: '';
   display: block;
   height: 5px;
   width: 5px;
   margin-top: -4px;
   pointer-events: none;
   position: absolute;
   right: 1.8rem;
   top: 21px;
   -webkit-transform-origin: 66% 66%;
   -ms-transform-origin: 66% 66%;
   transform-origin: 66% 66%;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.header__nav li:hover > a, .header__nav li:focus > a {
   color: #FFFFFF;
}

.header__nav li:hover li, .header__nav li:focus li {
   background: transparent;
}

.header__nav li.current > a {
   color: #FFFFFF;
}

.header__nav li ul {
   position: absolute;
   top: 45px;
   left: 0;
   font-size: 14px;
   margin: 0;
   padding: 1.8rem 0;
   background: #050505;
   border-radius: 0 0 3px 3px;
   z-index: 500;
   -webkit-transform: translate3d(0, 15px, 0);
   -ms-transform: translate3d(0, 15px, 0);
   transform: translate3d(0, 15px, 0);
   -webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
   opacity: 0;
   visibility: hidden;
}

.header__nav li ul ul {
   position: absolute;
   top: 0;
   left: 100%;
   left: calc(100% + 1px);
   border-radius: 0 0 3px 3px;
   padding-top: 1.2rem;
}

.header__nav li ul li {
   display: block;
   text-align: left;
   padding: 0;
   margin: 0;
   min-height: 33px;
   width: 100%;
}

.header__nav li ul li a {
   display: block;
   white-space: nowrap;
   padding: 7.5px 3rem 7.5px 2rem;
   font-family: "metropolis-regular", sans-serif;
   line-height: 18px;
   color: rgba(255, 255, 255, 0.6);
}

.header__nav li ul li a:hover, .header__nav li ul li a:focus {
   color: #FFFFFF;
}

.header__nav li:hover > ul {
   opacity: 1;
   visibility: visible;
   -webkit-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * main navigation
 * ------------------------------------------------------------------- */
@media only screen and (min-width:801px) {
   .header__nav li.has-children:hover > a::after, 
   .header__nav li.has-children:focus > a::after {
      -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      transform: rotate(225deg);
   }

   .header__nav li ul {
      display: block !important;
   }

}


/*# sourceMappingURL=maps/style.css.map */
